<div id="pins" class="transitions-enabled">
	<% @movies.each do |movie| %>
		<div class="box">
			<%= link_to movie_path(movie) do %>
				<%= image_tag movie.avatar.url(:medium) %>
			<h4><%= movie.title%></h4>
			<% end %>
		</div>
	<% end %>

</div>
<%= content_for :handwrite_javascript do %>
<script>
	$(function(){
    var $pins = $('#pins');
    $pins.imagesLoaded(function(){
      // $box.fadeIn();
      $pins.masonry({
        itemSelector : '.box',
        isFitWidth: true,
      });
    });
  });	
</script>
<% end %>