
<div class="text-center">
<h1>我收藏的影片</h1>
</div>
<hr>
<div class="row img-favorites">
<% @movies.each do |movie| %>
	<div class="col-md-3 col-sm-4 col-xs-6"><%= image_tag movie.avatar.url(:medium), class: "img-1 img-responsive" %></div>
<% end %>
</div>

<div class="text-center">
	<h1>我发表的评论</h1>
</div>
<hr>
