@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "masonry/transitions";
@import "social-share-button";

 #pins {
   margin: 0 auto;
   width: 100%;
   .box {
 	  margin: 10px;
 	  width: 225px;
 	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
 	  text-align: center;
    padding: 0px;
 	  img {
 	  	max-width: 100%;
 	  	height: auto;
 	  }
 	}
 }

 .img-1 {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}

.img-1:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
}
