<div class="row">
<footer class="container-fluid footer" style="margin-top: 50px;">
    <p class="text-center">Copyright ©2017 Chatting-Movies
        <br>Design by <a href="http://fanliangchun.com" target="_blank">fanliangchun<i class="fa fa-first-order fa-fw" aria-hidden="true"></i></a>
        
    </p>
</footer>
</div>