<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 Chatting-Movies
        <br>Design by <a href="http://fanliangchun.com" target="_blank">fanliangchun<i class="fa fa-first-order fa-fw" aria-hidden="true"></i></a>
        
    </p>
</footer>